.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.checkoutProduct__info {
  padding-left: 20px
}

.checkoutProduct__info > button {
  background:#E59866;
  border-radius: 2px;
  border: 1px solid;
  margin-top: 0px;
  border-color:#de7c3b;
  color: black;
  width: 150px;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}
